<a href="https://colab.research.google.com/github/Kakani2003/Kakani2003/blob/main/Copy_of_dictionary_lab_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

EXP 3  DICTIONARY

In [ ]:
people = {1: {'name': 'John', 'age': '27', 'sex': 'Male'}, 2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}}

In [ ]:
people[3]={'name': 'vamsi', 'age': '18', 'sex': 'Male'}
people[4]={'name': 'jai', 'age': '12', 'sex': 'Male'}
people

{1: {'age': '27', 'name': 'John', 'sex': 'Male'},
 2: {'age': '22', 'name': 'Marie', 'sex': 'Female'},
 3: {'age': '18', 'name': 'vamsi', 'sex': 'Male'},
 4: {'age': '12', 'name': 'jai', 'sex': 'Male'}}

In [ ]:
people[1]

{'age': '27', 'name': 'John', 'sex': 'Male'}

In [ ]:
people[2]

{'age': '22', 'name': 'Marie', 'sex': 'Female'}

In [ ]:
people[1]={'name': 'John', 'age': '27', 'sex': 'Male'}
people

{1: {'age': '27', 'name': 'John', 'sex': 'Male'},
 2: {'age': '22', 'name': 'Marie', 'sex': 'Female'},
 3: {'age': '18', 'name': 'vamsi', 'sex': 'Male'},
 4: {'age': '12', 'name': 'jai', 'sex': 'Male'}}

RENAMEING THE NAME

In [ ]:
people[1]["name"]="Jonathan"
people

{1: {'age': '27', 'name': 'Jonathan', 'sex': 'Male'},
 2: {'age': '22', 'name': 'Marie', 'sex': 'Female'},
 3: {'age': '18', 'name': 'vamsi', 'sex': 'Male'},
 4: {'age': '12', 'name': 'jai', 'sex': 'Male'}}

DELETE A PERSON FROM DICTIONARY

In [ ]:
del people[2]
people

{1: {'age': '27', 'name': 'Jonathan', 'sex': 'Male'},
 3: {'age': '18', 'name': 'vamsi', 'sex': 'Male'},
 4: {'age': '12', 'name': 'jai', 'sex': 'Male'}}

In [ ]:
print(2 in people)

False

In [ ]:
for key in people:
  print(key,people[key])

1 {'name': 'Jonathan', 'age': '27', 'sex': 'Male'}
3 {'name': 'vamsi', 'age': '18', 'sex': 'Male'}
4 {'name': 'jai', 'age': '12', 'sex': 'Male'}

part 2

In [ ]:
facebook={'Joe': 1500000, 'Sarah':2750000, 'Jack':560000, 'Mark' :1975, "Shawn":2200000}
facebook

{'Jack': 560000,
 'Joe': 1500000,
 'Mark': 1975,
 'Sarah': 2750000,
 'Shawn': 2200000}

created a didtionary

In [ ]:
keymax=max(facebook,key=lambda x:facebook[x])
keymax

'Sarah'

returned the key with maximum value

In [ ]:
print(keymax,'has the heighest sale')

Sarah has the heighest sale